/* Baseline reset */
html {
  box-sizing: border-box;
  font-size: 16px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  color: rgba(0, 0, 0, 0.78);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  line-height: 1.64rem;
  margin: 0;
  padding: 0;
  font-family: fira sans; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.89); }

article {
  padding: 2rem 1rem; }

/* All nav stylings/logo/menu items */
.navbar {
  align-items: center;
  background-color: #e6110a;
  border-bottom: 3px solid #3729ff;
  height: 60px; }
  .navbar::before {
    content: ' ';
    border-top: 2px solid yellow;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%; }
  .navbar .logo {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 1rem; }
    .navbar .logo img {
      height: calc(100% - 1.5rem);
      width: auto; }

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

a.texty {
  color: black; }

.menu-item {
  color: #666666;
  flex-grow: 1;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  height: 60px;
  line-height: 60px;
  justify-content: center;
  border-bottom: 2px solid transparent; }
  .menu-item:hover {
    background-color: #2e3ed1;
    color: white;
    cursor: pointer; }
  .menu-item.active {
    border-color: #e8e87d;
    color: white; }

/*body stylings */
body {
  font-family: fira sans;
  background-image: url(../../img/backaground2.jpg); }

/* list/unordered items on the homepage categories */
ul {
  font-size: 20px; }

li {
  padding: 10px; }

/* line break on each page between content */
.break {
  margin-left: 20px;
  margin-right: 20px; }

/*main article on homepage*/
.article {
  padding: 20px;
  border: 500px #e79a9a;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 60px; }

/* history page */
/*full body of hisory page*/
.whatever {
  margin: auto;
  width: 75%;
  height: auto; }

/*history class for <p>*/
.history {
  color: white;
  text-align: left;
  margin: 20px;
  align-content: left; }

/*youtube inbedded videos on history page */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 20px; }

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 80%;
  position: absolute; }

/*carousel bootstrap stlyings*/
.carousel {
  margin: auto;
  width: 75%;
  height: auto;
  padding: 20px;
  background-color: 3px solid #3729ff;
  border-radius: 3%; }

/* bootstrap cards */
/*group of cards in a row*/
.card-deck {
  max-width: 100%;
  align-items: center;
  margin: auto;
  justify-content: center; }

/*individual card*/
.card {
  width: 20%;
  margin: 40px;
  height: auto;
  padding: 10px;
  align-items: center;
  border-color: #afc7ee; }

/*racer class for cards on racer page*/
.racers {
  width: auto;
  height: 300px;
  border: 2px solid #e6110a;
  border-radius: 10%; }

/*image at the tops of cards*/
.card-img-top {
  border-bottom: 3px solid #3729ff; }

/*content under the image on card*/
.card-body {
  width: 90%;
  height: 300px;
  overflow-x: hidden; }

/*footer stylings*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #443131;
  font-size: 10px;
  color: white;
  text-align: right; }

/*back to top on footer*/
.back {
  text-align: center; }

/*media query for tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  .card-deck {
    max-width: 100%;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-left: 0; }
  .card-group {
    overflow: hidden; }
  .card {
    width: auto;
    height: auto;
    margin: 20px;
    align-items: center;
    justify-content: center; } }

/*media query for mobile*/
@media only screen and (max-width: 768px) {
  .nav {
    font-size: 10px; }
  .card {
    width: 300px;
    height: 450px;
    margin: 10px;
    align-items: center;
    margin: auto;
    justify-content: center; } }
