/* Baseline reset */
html {
  box-sizing: border-box;
  font-size: 16px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  color: rgba(0, 0, 0, 0.78);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  line-height: 1.64rem;
  margin: 0;
  padding: 0;
  font-family: fira sans; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.89); }

article {
  padding: 2rem 1rem; }

/* Add styles here */
.navbar {
  align-items: center;
  background-color: #e6110a;
  border-bottom: 3px solid #3729ff;
  height: 60px; }
  .navbar::before {
    content: ' ';
    border-top: 2px solid yellow;
    position: absolute;
    top: 0px;
    width: 100%; }
  .navbar .logo {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 1rem; }
    .navbar .logo img {
      height: calc(100% - 1.5rem);
      width: auto; }

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

a.texty {
  color: white; }

.menu-item {
  color: #666666;
  flex-grow: 1;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  height: 60px;
  line-height: 60px;
  justify-content: center;
  border-bottom: 2px solid transparent; }
  .menu-item:hover {
    background-color: #c9cce8;
    cursor: pointer; }
  .menu-item.active {
    border-color: #e8e87d; }

body {
  font-family: fira sans;
  background-image: url(../../img/backaground2.jpg); }

ul {
  font-size: 20px; }

li {
  padding: 10px; }

.break {
  margin-left: 20px;
  margin-right: 20px; }

.article {
  padding: 20px;
  border: 500px #e79a9a;
  color: white;
  font-size: 20px;
  text-align: center; }

/*carousel */
.carousel {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 20px; }

/* cards */
.card {
  margin: 40px;
  padding: 10px;
  align-items: center;
  background-color: #afc7ee; }
  .card .racers {
    width: 200px;
    height: 150px;
    border: 2px solid #e6110a; }

.card-img-top {
  height: 40%;
  border-bottom: 3px solid #3729ff; }

.card-body {
  width: 90%;
  height: 300px;
  overflow-x: hidden; }

@media (min-width: 768px) and (max-width: 1024px) {
  .card-body {
    width: 100%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden; } }

@media only screen and (max-width: 768px) {
  .racers {
    width: 400px;
    height: 150px;
    border: 2px solid #e6110a; } }
