@import 'base';
// created a _base.scss that contains all the partial css and imported it here
// the following is a global scope variablke while the ones inside the navbar
// is applied to the navbar selector
$bg-color: hsl(2, 92%, 47%);
$height: 60px;
$active-color: rgb(255, 255, 0);
$borders: 3px solid hsl(244, 100%, 58%);


/* Add styles here */
.navbar {
  align-items: center;
  background-color: $bg-color;
  border-bottom: $borders;
  height: $height;

  &::before {
    content: ' ';
    border-top: 2px solid $active-color;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
  }

  .logo {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 1rem;

    img {
      height: calc(100% - 1.5rem);
      width: auto;
    }
  }
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

a.texty {
  color: black;
}

.menu-item {
  color: rgb(102, 102, 102);
  flex-grow: 1;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  height: $height;
  // line height to center the text so we make full height of container
  // will change when height of container changes
  // therefore we'll create a variable to make sure changes are universal
  line-height: $height;
  justify-content: center;
  border-bottom: 2px solid transparent;

  // menu item .active is a class name in html while :hover is a pseudo class
  &:hover {
    background-color: hsl(234, 64%, 50%);
    color: white;
    cursor: pointer;
  }

  &.active {
    border-color: lighten(desaturate($active-color, 30%), 20%);
    color: white;
  }
}


body {
  font-family: fira sans;
  background-image: url(../../img/backaground2.jpg);
}

ul {
  font-size: 20px;
}

li {
  padding: 10px;
}

.history {

  color: white;
  text-align: center;
  margin: 20px;
  margin-bottom: 80px;
  align-content: center;
}

.break {
  margin-left: 20px;
  margin-right: 20px;
}

.article {
  padding: 20px;
  border: 500px rgb(231, 154, 154);
  color: white;
  font-size: 20px;
  text-align: center;
}

/*carousel */
.carousel {
  margin: auto;
  width: 75%;
  height: auto;
  padding: 20px;
  background-color: $borders;
  border-radius: 3%;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 40px;

}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* cards */
.card-deck {
  max-width: 100%;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.card {
  width: 20%;
  margin: 40px;
  height: auto;
  padding: 10px;
  align-items: center;
  border-color: rgb(175, 199, 238);

  .racers {
    width: auto;
    height: 150px;
    border: 2px solid $bg-color;
    border-radius: 4%;
  }
}

.card-img-top {
  border-bottom: 3px solid hsl(244, 100%, 58%);
}


.card-body {
  width: 90%;
  height: 300px;
  overflow-x: hidden;
}

.whatever {
  margin: auto;
  width: 80%;
  height: auto;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(68, 49, 49);
  font-size: 10px;
  color: white;
  text-align: right;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .card-deck {
    max-width: 100%;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-left: 0;
  }

  .card-group {
    overflow: hidden;
  }

  .card {
    width: auto;
    height: auto;
    margin: 20px;
    align-items: center;
    justify-content: center;
  }
}



@media only screen and (max-width: 768px) {

  .nav {
    font-size: 10px;
  }

  .card {
    width: 300px;
    height: 450px;
    margin: 10px;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .card-deck {
    margin-left: 0;
  }
}