@import 'base';
// created a _base.scss that contains all the partial css and imported it here
// the following is a global scope variablke while the ones inside the navbar
// is applied to the navbar selector
$bg-color: hsl(2, 92%, 47%);
$height: 60px;
$active-color: rgb(255, 255, 0);
$borders: 3px solid hsl(244, 100%, 58%);


/* Add styles here */
.navbar {
  align-items: center;
  background-color: $bg-color;
  border-bottom: $borders;
  height: $height;

  &::before {
    content: ' ';
    border-top: 2px solid $active-color;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .logo {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 1rem;

    img {
      height: calc(100% - 1.5rem);
      width: auto;
    }
  }
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

a.texty {
  color: white;
}

.menu-item {
  color: rgb(102, 102, 102);
  flex-grow: 1;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  height: $height;
  // line height to center the text so we make full height of container
  // will change when height of container changes
  // therefore we'll create a variable to make sure changes are universal
  line-height: $height;
  justify-content: center;
  border-bottom: 2px solid transparent;

  // menu item .active is a class name in html while :hover is a pseudo class
  &:hover {
    background-color: hsl(234, 41%, 85%);
    cursor: pointer;
  }

  &.active {
    border-color: lighten(desaturate($active-color, 30%), 20%);
  }
}


body {
  font-family: fira sans;
  background-image: url(../../img/backaground2.jpg);
}

ul {
  font-size: 20px;
}

li {
  padding: 10px;
}

.break {
  margin-left: 20px;
  margin-right: 20px;
}

.article {
  padding: 20px;
  border: 500px rgb(231, 154, 154);
  color: white;
  font-size: 20px;
  text-align: center;
}

/*carousel */
.carousel {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 20px;
}

/* cards */

.card {
  margin: 40px;
  padding: 10px;
  align-items: center;
  background-color: rgb(175, 199, 238);

  .racers {
    width: 200px;
    height: 150px;
    border: 2px solid $bg-color;
  }
}

.card-img-top {
  height: 40%;
  border-bottom: 3px solid hsl(244, 100%, 58%);
}


.card-body {
  width: 90%;
  height: 300px;
  overflow-x: hidden;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .card-body {
    width: 100%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
  }

}

@media only screen and (max-width: 768px) {
  .racers {
    width: 400px;
    height: 150px;
    border: 2px solid $bg-color;
  }
}